@layer base {
  .roboto-thin {
    font-family: var(--font-body);
    font-weight: 100;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: var(--font-body);
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light {
    font-family: var(--font-body);
    font-weight: 300;
    font-style: normal;
  }

  .roboto-light-italic {
    font-family: var(--font-body);
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular {
    font-family: var(--font-body);
    font-weight: 400;
    font-style: normal;
  }

  .roboto-regular-italic {
    font-family: var(--font-body);
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium {
    font-family: var(--font-body);
    font-weight: 500;
    font-style: normal;
  }

  .roboto-medium-italic {
    font-family: var(--font-body);
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold {
    font-family: var(--font-body);
    font-weight: 700;
    font-style: normal;
  }

  .roboto-bold-italic {
    font-family: var(--font-body);
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black {
    font-family: var(--font-body);
    font-weight: 900;
    font-style: normal;
  }

  .roboto-black-italic {
    font-family: var(--font-body);
    font-weight: 900;
    font-style: italic;
  }
}
