<app-header />

<main>
  <router-outlet />
</main>

<!-- Layers -->
<app-camera-overlay />

<!-- Mobile -->
<app-nav-mobile />

<div class="video-brackground">
  @if (backgroundVideoSrc()) {
    <video
      #video
      class="video"
      loop
      muted
      playsinline
      autoplay
      preload="metadata"
      disablePictureInPicture
      aria-hidden="true">
      <source [src]="backgroundVideoSrc()" type="video/webm" />
    </video>
  }
  @if (nextVideoSrc()) {
    <video style="display: none" muted preload="auto" aria-hidden="true">
      <source [src]="nextVideoSrc()" type="video/webm" />
    </video>
  }
</div>

<app-footer />
